# ide
.idea
*.sublime-*

# Package dirs
/node_modules
/bower_components

# Compiled project
/dist

# Local config
/config/local.js

# Node logs
/logs/*
!/logs/.gitkeep

# SSL keys and certs
/ssl/*
!/ssl/.gitkeep
