$open-sans: "Open Sans", "Helvetica", "Arial", sans-serif;
$roboto: "Roboto", "Helvetica", "Arial", sans-serif;

$base-font-family: $open-sans;
$heading-font-family: $roboto;

$small-text: $base-font-size - 0.2em;
